*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    margin: 2% ;
    margin-right: 10%;
    margin-left: 10%;
}
 p{
    
    position: relative;
    font-size:20px;
    color: gray;
    font-family: 'Bakbak One', cursive;
    font-family: 'M PLUS Code Latin', sans-serif;
}

.first-theme{
    margin-top:90px;
    color: #2E4053;
    width: 100%;
    font-family: 'Bakbak One', cursive;
    font-family: 'Cagliostro', sans-serif;
    font-family: 'M PLUS Code Latin', sans-serif; 
   
}
.logo{
    border-radius: 50%;
    margin: 10px 10px 10px 10px;
}
.nav{
    
    font-family: 'Bakbak One', cursive;
    height: 150px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background:#369AA8 ;
}
.underList{
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   align-items: center;
   
}

nav ul li a{
    color: antiquewhite;
    height: 100%;
    font-size: 18px;
}

nav ul li a:hover{
    color: black;
}

.hero{
    width: 80%;
    position: absolute;
}

.hero-phrase{
    width: 60%;
    position: relative;
    font-family: 'Bakbak One', cursive; 
    font-family: 'M PLUS Code Latin', sans-serif;
    font-size: 25px;
        -webkit-text-fill-color: white;
        -webkit-text-stroke: 1.2px;
    margin-top: 37%;
    margin-left: 5%;
}
.div-imag-pharagra{
    display:flex;
    flex-direction: row;
}

.img-section{
    display:flex;
    width: 40%;
    margin-top:2%;
    border-radius:25px;
}
.description{
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
.tittle-section{
    margin-top:5%;
    color: #369aa8;
    text-align: center;
}

@media screen and (max-width:1440px){
    .hero-phrase{
        margin-top: 30%;
    }
    .first-theme{
        margin-top:40px;
    }
}


@media screen and (max-width:1024px) {
    .logo{
        border-radius: 50%;
        width: 15%;
    }

    .nav{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        background:#369AA8 ;
    }
    

    .underList{
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
       align-items: center;
    }

  nav ul li {
        margin: 5px;
    }

}

@media screen and (max-width:1024px){
    .nav{
        align-items: center;
        justify-content: space-around;
    }
    .logo{
        border-radius: 50%;
        margin-left: 20px;
        width: 90px;
        height: 90px;
    }
    .hero-phrase{
        margin-top:20% ;
    }
}
@media screen and (max-width:768px){
    .hero-phrase{
        margin-top:2% ;
    }
}
@media screen and (max-width:425px){
    .hero-phrase{
        margin-top:2% ;
        font-size: 90%;
        color: gray;
        -webkit-text-fill-color: black;
        -webkit-text-stroke: 0.5px;
    }
    .first-theme{
        margin-top: 10%;
    }
}
@media screen and (max-width:375px){
    .hero-phrase{
        font-size:80%;
        color: blueviolet;
        
    }
    .nav{
        height: 180px;
    }
    .first-theme{
        margin-top: 5%;
    }
}
@media screen and (max-width:320px){
    .nav{
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:center;
      align-items: center; 
      position: relative;
      height:300px;
    }
    .logo{
        border-radius: 50%;
        margin-left: 5px;
        width: 90px;
        height: 90px;
    }
    .hero{
        margin-top: 5%;
        position:absolute;
    }
    .hero-phrase{
        visibility: hidden;
    }
  
}